@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #e7e5e4;
  --secondary: #1e40af;
}

@layer base {
  html {
    @apply bg-stone-100;
  }
}

@layer components {
  .tw-animation {
    @apply transition duration-300 ease-in-out;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  *::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 5px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
    border: 3px solid var(--primary);
  }

  .tw-vertical-text {
    writing-mode: vertical-rl;
    @apply rotate-180;
  }
}
